.page-header {
    margin: 10px 0 20px !important;
    padding-bottom: 9px !important;
}

.panel {
    box-shadow: none;
    border: 0;
}

.pie .highcharts-data-labels text {
    text-shadow: black 0px 0px 6px, black 0px 0px 3px !important;
}

.input label {
    width: auto !important;
    margin-right: 15px;
    margin-top: 7px;
}
.input {
    width: 250px;
    padding: 0 !important;
}
.input-group {
    width: 60px;
}
select {
    width: 200px !important;
}